


body {


  width: 800px;
  height: 94vh;
  border: 5px solid crimson;
  margin: 0 auto;

}


h4 {

  position: absolute;
  left: 300px;
  top: 550px
}

h2 {

 background-color: rgb(20, 196, 255);
}








